body, html {
  overflow-x: hidden; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: transparent; }

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent; }

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: #4CACD1; }

.search-page.admin .add-btn-wrap {
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .search-page.admin .add-btn-wrap {
      justify-content: center; } }
@media screen and (max-width: 640px) {
  .search-page.admin .btn-group {
    flex-direction: column;
    align-items: center; } }

.navigation-sidebar .select2-container {
  width: 100% !important; }

.btn {
  font-family: Roboto, Regular, sans-serif; }

.subscribe-btn,
.add-btn,
.stop-btn,
.btn-card,
.btn-view {
  max-width: 173px;
  width: 100%;
  min-height: 50px;
  background: #4CACD1;
  color: #fff;
  font-size: 18px;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 24px;
  font-family: Roboto, Regular, sans-serif;
  font-weight: 500;
  display: block; }

.subscribe-btn {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  line-height: 1 !important;
  font-family: "Montserrat-Light", sans-serif !important;
  font-weight: 100;
  font-size: 22px !important;
  letter-spacing: 1px !important; }
  .subscribe-btn:hover {
    background: #fff;
    color: #4CACD1; }

.stop-btn {
  max-width: 280px;
  width: 100%; }

.add-btn {
  margin-top: 15px;
  margin-right: 0;
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .add-btn {
      margin-right: auto; } }

.stop-btn,
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center; }
  .stop-btn:hover, .stop-btn:active, .stop-btn:focus,
  .add-btn:hover,
  .add-btn:active,
  .add-btn:focus {
    color: #4CACD1;
    background: transparent;
    border: 1px solid #4CACD1;
    outline: none; }

.btn-card,
.btn-view {
  font-family: Roboto, Regular, sans-serif;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500; }
  .btn-card:hover,
  .btn-view:hover {
    color: #4CACD1;
    background: transparent;
    border: 1px solid #4CACD1; }

.btn-soc-login {
  font-family: Roboto, Regular, sans-serif;
  color: #fff;
  width: 100%;
  max-width: 380px;
  margin-bottom: 10px;
  padding: 18px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-soc-login:last-child {
    margin-bottom: 0; }
  .btn-soc-login b, .btn-soc-login strong {
    font-family: Roboto, Regular, sans-serif;
    font-weight: 600; }
  .btn-soc-login .fa, .btn-soc-login .fas {
    padding-right: 10px; }
  .btn-soc-login:hover {
    background: transparent; }

.btn-fb {
  border-radius: 5px;
  background: #4B60B2;
  border-color: #4B60B2; }
  .btn-fb:hover {
    color: #4B60B2; }

.btn-ln {
  border-radius: 5px !important;
  background: #0070B3;
  border-color: #0070B3; }
  .btn-ln:hover {
    color: #0070B3; }

.btn-gl {
  border-radius: 5px !important;
  background: #DF4930;
  border-color: #DF4930; }
  .btn-gl:hover {
    color: #DF4930; }

.btn-login {
  border-radius: 28px;
  background: #4CACD1;
  color: #fff;
  max-width: 240px;
  width: 100%;
  border: 1px solid transparent;
  font-family: Roboto, Regular, sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding: 12px 15px;
  display: block;
  margin: 0 auto;
  margin-top: 6vmin; }
  .btn-login:hover {
    border: 1px solid #4CACD1;
    background: transparent;
    color: #4CACD1; }

.filter-title {
  font-size: 2.8rem; }

.filter-row {
  margin-bottom: 10px; }
  .filter-row .ui.multiple.search.dropdown {
    border: 1px solid #4CACD1; }

.filter-row {
  position: relative; }
  .filter-row .close {
    position: absolute;
    right: 15px;
    top: 31%;
    color: #303E4B;
    opacity: .7;
    transition: all .3s; }
    .filter-row .close:hover {
      opacity: 1; }

.login-page {
  background: #FBFBFB; }
  .login-page main {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh; }
  .login-page footer {
    background: #F6FDFF; }

.bottmo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .bottmo-form {
      flex-direction: column;
      margin-top: 20px; } }

.forgot-link {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: .5px;
  color: #303E4B;
  opacity: .5;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  text-decoration: underline;
  transition: all .3s; }
  @media screen and (max-width: 480px) {
    .forgot-link {
      margin-bottom: 10px;
      margin-top: 10px;
      display: inline-block; } }
  .forgot-link:hover {
    opacity: 1; }

.form-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16); }
  .form-container .form-title {
    font-family: "Montserrat-SemiBold", sans-serif;
    text-transform: uppercase;
    font-size: 3.8rem;
    letter-spacing: 1px;
    line-height: 50px;
    margin-bottom: 15px; }
    @media screen and (max-width: 640px) {
      .form-container .form-title {
        text-align: center; } }
  .form-container .form-sub-title {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 22px;
    line-height: 29px;
    margin-top: 0; }
    @media screen and (max-width: 640px) {
      .form-container .form-sub-title {
        text-align: center; } }
    .form-container .form-sub-title a {
      font-family: "Montserrat-Regular", sans-serif;
      font-size: inherit;
      line-height: inherit;
      display: inline-block;
      text-decoration: underline;
      color: #4CACD1; }
  .form-container .top-form {
    background: #303E4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: url("../img/bg2.png") no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 18vmin; }
    .form-container .top-form * {
      color: #fff; }
    .form-container .top-form a {
      color: #4CACD1; }
  .form-container .bottom-form {
    background: #fff;
    min-height: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px; }
    .form-container .bottom-form .container {
      width: 100%;
      max-width: 85%; }
      .form-container .bottom-form .container .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
    .form-container .bottom-form .socials-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      @media screen and (max-width: 768px) {
        .form-container .bottom-form .socials-group {
          align-items: center; } }
    .form-container .bottom-form .login-form .form-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 1;
      transition: all .3s; }
      .form-container .bottom-form .login-form .form-group:first-child {
        margin-bottom: 30px; }
      .form-container .bottom-form .login-form .form-group:hover {
        opacity: .6; }
    .form-container .bottom-form .login-form i.fa,
    .form-container .bottom-form .login-form i.fas {
      font-size: 25px;
      color: #303E4B;
      padding-right: 12px; }
    .form-container .bottom-form .login-form input {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #959595;
      transition: all .3s;
      font-family: "Montserrat-Regular", sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 24px; }
      .form-container .bottom-form .login-form input:focus, .form-container .bottom-form .login-form input:hover {
        border-bottom: 1px solid #4CACD1;
        box-shadow: none;
        outline: none;
        color: #4CACD1; }
    .form-container .bottom-form .login-form .remember-me label {
      color: #303E4B;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 1px;
      text-align: left;
      position: relative;
      padding-left: 30px;
      font-weight: 400; }
      .form-container .bottom-form .login-form .remember-me label:before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #303E4B;
        border-radius: 3px;
        transition: all .3s;
        font-size: 25px;
        line-height: 25px; }
    .form-container .bottom-form .login-form .remember-me input[type=checkbox] {
      opacity: 0;
      position: absolute;
      clip: rect(0, 0, 0, 0);
      padding: 0;
      margin: 0; }
    .form-container .bottom-form .login-form .remember-me input[type=checkbox]:checked + label:before {
      content: "\f046";
      font-family: FontAwesome, sans-serif;
      display: inline-block;
      border: none;
      background: transparent;
      color: #53B743;
      line-height: 25px;
      font-size: 25px;
      text-align: center; }

.text-or {
  color: #303E4B;
  text-align: center;
  font-size: 3.8rem;
  letter-spacing: 1px;
  line-height: 50px;
  text-transform: uppercase; }

.company-page {
  background: rgba(76, 172, 209, 0.08); }
  .company-page main {
    margin-top: 40px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 85vh; }
  .company-page footer {
    background: #FFFFFF; }

.title-wrap {
  background: #303E4B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: url("../img/bg2.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 17.1vmin;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px; }
  .title-wrap * {
    color: #fff;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    line-height: 50px; }
  .title-wrap a, .title-wrap span {
    color: #4CACD1; }

.cards-row {
  margin-bottom: 20px; }

.card-box {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 15px 20px;
  min-height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  @media screen and (max-width: 1199px) {
    .card-box {
      align-items: center; } }
  .card-box h2, .card-box h3, .card-box h4, .card-box h5, .card-box h6 {
    font-family: "Montserrat-SemiBold", sans-serif;
    color: #303E4B;
    text-transform: uppercase;
    margin-top: 0; }
  .card-box .card-sub-title {
    font-family: "Montserrat-Bold", sans-serif; }
  .card-box p {
    font-family: Roboto, Regular, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #303E4B;
    margin-bottom: 0; }
  .card-box.centered h2, .card-box.centered h3, .card-box.centered h4, .card-box.centered h5, .card-box.centered h6 {
    text-align: center; }
  .card-box.centered p {
    text-align: left; }
  .card-box.centered .btn-card {
    margin: 0 auto; }
  .card-box .content {
    width: 100%; }
  @media screen and (max-width: 768px) {
    .card-box .form-group {
      margin-bottom: 15px; } }
  .card-box .form-group input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(48, 62, 75, 0.6);
    transition: all .3s;
    font-family: "Montserrat-Light", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 21px;
    margin-bottom: 15px; }
    .card-box .form-group input:focus, .card-box .form-group input:hover {
      border-bottom: 1px solid #4CACD1;
      box-shadow: none;
      outline: none;
      color: #303E4B; }
    .card-box .form-group input:last-child {
      margin-bottom: 0; }

.card-title,
.card-sub-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
  line-height: 29px;
  color: #303E4B; }

.card-sub-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 22px;
  text-transform: inherit;
  font-weight: 600; }

.job-page.admin {
  background: rgba(76, 172, 209, 0.08); }
  .job-page.admin main {
    min-height: 85vh; }
  .job-page.admin footer {
    background: #fff; }
  .job-page.admin .pre-footer {
    background: #4CACD1;
    box-shadow: none;
    padding-top: 5px;
    padding-bottom: 35px;
    margin-top: 0; }
    .job-page.admin .pre-footer .container {
      max-width: 780px;
      width: 100%; }
    .job-page.admin .pre-footer * {
      text-align: center;
      font-family: "Montserrat-Regular", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 46px;
      letter-spacing: 0; }
    .job-page.admin .pre-footer h1, .job-page.admin .pre-footer h2, .job-page.admin .pre-footer h3, .job-page.admin .pre-footer h4, .job-page.admin .pre-footer h5, .job-page.admin .pre-footer h6 {
      font-family: "Montserrat-SemiBold", sans-serif;
      font-size: 32px;
      line-height: 1;
      margin-bottom: 0; }
    .job-page.admin .pre-footer input {
      text-align: left;
      min-height: 50px;
      border: 0;
      font-family: Roboto, Regular, sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      color: #959595; }
    .job-page.admin .pre-footer .form-group {
      margin-top: 20px; }

.job-wrapper .content-banner {
  background: #303E4B;
  height: 30vmin; }
.job-wrapper .main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px; }

.admin-button {
  width: 72px;
  height: 72px;
  line-height: 65px;
  padding: 10px;
  text-align: center;
  background-color: #303E4B;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: fixed;
  z-index: 900;
  top: 95px;
  left: 0;
  box-shadow: 0 7px 17px -11px #000000;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .admin-button .fa {
    font-size: 35px; }
  .admin-button:hover {
    background-color: #4CACD1;
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s; }

.admin-sidebar-wrap {
  position: fixed;
  z-index: 1000;
  top: 80px;
  bottom: 0;
  left: -100%;
  height: 100vh;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  max-width: 337px;
  width: 100%;
  padding: 15px 10px 15px 25px;
  transition: all .3s; }
  .admin-sidebar-wrap.show {
    display: flex;
    left: 0; }
  .admin-sidebar-wrap .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #303E4B;
    opacity: 1;
    z-index: 10000; }
    .admin-sidebar-wrap .close i, .admin-sidebar-wrap .close .fa {
      color: #303E4B; }
      .admin-sidebar-wrap .close i:before, .admin-sidebar-wrap .close .fa:before {
        color: #303E4B; }
  .admin-sidebar-wrap .sidebar {
    position: relative;
    width: 100%;
    margin: 0;
    top: 0;
    float: none; }
    .admin-sidebar-wrap .sidebar .sidebar-title {
      font-family: "Montserrat-SemiBold", sans-serif;
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 29px;
      color: #303E4B;
      margin-bottom: 20px;
      text-align: center;
      margin-top: 15px; }
    .admin-sidebar-wrap .sidebar .block-name {
      font-family: "Montserrat-Regular", sans-serif;
      font-weight: 600;
      font-size: 20px;
      text-align: left;
      letter-spacing: 1px;
      line-height: 27px;
      margin-bottom: 9px; }
    .admin-sidebar-wrap .sidebar form {
      box-shadow: none;
      padding: 0; }
    .admin-sidebar-wrap .sidebar .select2-container {
      width: 100% !important; }

ul.skills {
  padding-left: 0;
  margin-bottom: 20px; }
  ul.skills li {
    list-style: none;
    display: inline-block;
    color: #fff;
    background: #303E4B;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 19px;
    width: 64px;
    text-align: center;
    line-height: 32px; }

.job-body {
  margin-left: 5px;
  background: #fff; }
  .job-body .job-header {
    background: #fff;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.16);
    margin-bottom: 15px; }
    .job-body .job-header .technology .count {
      font-family: Roboto, Regular, sans-serif;
      font-weight: 400;
      color: #303E4B;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
      margin-top: 15px; }
    .job-body .job-header .technology .skills {
      margin-bottom: 0; }
    .job-body .job-header .about * {
      font-family: Roboto, Regular, sans-serif;
      font-weight: 400;
      color: #959595;
      font-size: 18px;
      line-height: 24px; }
    .job-body .job-header .about .fa {
      font-family: FontAwesome,sans-serif;
      padding-right: 5px; }
    .job-body .job-header .about .time {
      margin-bottom: 10px;
      margin-top: 10px; }
    .job-body .job-header .watch .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .job-body .job-header .watch .option .btn {
        color: #4CACD1;
        font-family: Roboto, Regular, sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        min-width: 100px;
        padding: 1px 12px; }
        .job-body .job-header .watch .option .btn .fa {
          padding-right: 10px; }
      .job-body .job-header .watch .option .btn-view {
        color: #fff;
        margin-bottom: 5px;
        justify-content: center;
        padding: 6px 12px; }
        .job-body .job-header .watch .option .btn-view:hover {
          color: #4CACD1; }
  .job-body .job-description {
    padding: 5px 20px; }
    .job-body .job-description h2, .job-body .job-description h3, .job-body .job-description h4, .job-body .job-description h5, .job-body .job-description h6,
    .job-body .job-description p {
      font-size: 18px;
      color: #303E4B;
      line-height: 24px;
      font-family: Roboto, Regular, sans-serif;
      font-weight: 400; }
    .job-body .job-description h2, .job-body .job-description h3, .job-body .job-description h4, .job-body .job-description h5, .job-body .job-description h6 {
      margin-bottom: 5px;
      font-weight: 600; }

@media screen and (max-width: 1199px) {
  .footer-info .about p {
    margin: 0 auto; } }

.company-page main,
.login-page main {
  padding-top: 120px;
  padding-bottom: 40px; }
@media (max-width: 768px) {
  .company-page .wrapper,
  .login-page .wrapper {
    max-width: 100%; }
  .company-page .container,
  .login-page .container {
    width: 100% !important; } }
@media (min-width: 768px) {
  .company-page .container,
  .login-page .container {
    width: 750px !important; } }
@media (min-width: 992px) {
  .company-page .wrapper,
  .login-page .wrapper {
    max-width: 970px; }
  .company-page .container,
  .login-page .container {
    width: 970px !important; } }
@media (min-width: 1200px) {
  .company-page .wrapper,
  .login-page .wrapper {
    max-width: 1170px; }
  .company-page .container,
  .login-page .container {
    width: 1170px !important; } }
@media (min-width: 1235px) {
  .company-page .wrapper,
  .login-page .wrapper {
    max-width: 1235px; }
  .company-page .container,
  .login-page .container {
    width: 1235px !important; } }

/*# sourceMappingURL=new-style.css.map */
