$dark: #303E4B;
$blue: #4CACD1;
$white: #fff;
$gray: #959595;
$roboto: Roboto, Regular, sans-serif;


// Search Admin Page
.search-page.admin {
	.add-btn-wrap {
		justify-content: flex-end;
		@media screen and (max-width: 768px) {
			justify-content: center;
		}
	}
}
// sidebar
.navigation-sidebar {
	.select2-container {
		width: 100% !important;
	}
}

// button
.btn {
	font-family: $roboto;
}
.add-btn,
.stop-btn {
	max-width: 173px;
	width: 100%;
	min-height: 50px;
	background: $blue;
	color: $white;
	font-size: 18px;
	-webkit-transition: all .3s;
	transition: all .3s;
	line-height: 24px;
	font-family: $roboto;
	font-weight: 500;
	display: block;
}
.stop-btn {
	max-width: 280px;
	width: 100%;
}
.add-btn {
	margin-top: 15px;
	margin-right: 0;
	margin-left: auto;
	@media screen and (max-width: 768px) {
		margin-right: auto;
	}
}
	//filter
.filter.admin {
	
}
.filter-title {
	font-size: 2.8rem;
}
.filter-row {
	margin-bottom: 10px;
	.ui.multiple.search.dropdown {
		border: 1px solid $blue;
	}
}